*, html {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

body {
background-color: #d3d3d3;
}

main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

h1 {
    flex: 0 0 100%;
    margin: 0;
    width: 100%;
}

button {
    width: 100%;
    margin-top: 20px;
    background-color: #7c5295;
    border-radius: 4px;
    color: #F9F6EE;
    padding: 10px 20px;
}

button:hover {
    border-radius: 6px;
    opacity: 70%;
    cursor: pointer;
    transition: ease 300ms;
}

p {
    margin-top: 20px;
}

.pane {
    display: flex;
    flex: 0 0 700px;
    justify-content: center;
    align-content: center;
    padding: 40px 40px;
    border: 2px solid #333;
    border-radius: 6px;
    margin-top: 150px;
    background-color: #F9F6EE;
    box-shadow: 6px 6px 4px #333;
}

#high-scores {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 26px;
    padding-right: 26px;
    border: 1.5px solid transparent;
    border-radius: 4px;
    color: #333;
}

#high-scores:hover {
    border-radius: 6px;
    color: #7c5295;
    background-color: #F9F6EE;
    padding-left: 26px;
    border: 1.5px solid #333;
    box-shadow: 3px 3px 10px #333;
    transition: ease-out 350ms;
    cursor: pointer;
}

#time {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 26px;
    color: #333;
}

#hs {
    display:none;
}

#hs-input {
    display: none;
}

#quiz {
    display: none;
}

#title {
    display: block;
}

#quiz-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#retake-quiz {
    display: none;
}
